/*=Redux   */
.leaflet-popup-content,
.leaflet-popup-content-wrapper{
    min-width: 250px;
}


#residence_generate_pins{
    padding: 10px;
    background-color: green;
    cursor:pointer;
    color:#fff;
    float:left;
    font-weight: 600;
}

.redux-container-wpestate_custom_unit_design .estate_option_row_submit {
    padding: 20px 20px 20px 0px;
}

#modal_el_options label {
    width: 100%;
    float: left;
}

#modal_el_options select {
    height: 36px;
    line-height: 36px;
}

.redux-container .form-table>tbody>tr.rcapi_payment_management_info>th{
    width: 100%;
    display: inline-block;
}

#wpresidence_admin-wpestate_custom_fields_list .field_item input,
#wpresidence_admin-wpestate_custom_fields_list .field_item select{
    width: 160px;
    min-width: 160px!important;
    max-width: 160px!important;
    height: 42px;
}

#redux-footer-sticky #redux-defaults-section {
    margin-right: 5px;
    margin-left: 5px;
}

.redux-main #redux-sticky #info_bar .expand_options {
    display: none;
}

.redux-container #redux-footer #redux-share a {
    color: #095353;
}

#wpresidence_admin-wpestate_custom_fields_list .field_item {
    float: left;
    width: 160px;
    margin-right: 5px;
}

.admin-color-fresh #redux-header, 
.wp-customizer #redux-header {
    background: #002b2b;
    border-color: #002b2b;
}

.sms_wrapper_redux{
    margin-top: 30px;
}
.sms_content{
    background: #eee;
    padding: 20px;
    margin-bottom: 5px;
}
.extra_exp{
    margin-bottom: 15px;
}

.redux-container select.wpestate_multiple_select{
    height: 300px!important;
}

.redux-container{
    background: #095353;
}
.redux-container .redux-main{
    background: #fff!important;
    border-left: 1px solid #ffffff;
}   

.redux-sidebar .redux-group-menu li a {
    color: #e7e8eb;
}  

.redux-sidebar .redux-group-menu {
    margin-top: 0 !important;
    background: #095353;
}

.redux-sidebar .redux-group-menu li a {
    border-bottom-color: #60687d;
    opacity: 0.85;
    font-weight: 400;
    padding: 13px 4px 13px 14px;
}
.redux-sidebar .redux-group-tab-link-a i {
    font-size: 1.19em;
}

.redux-container #info_bar {
    background: #3e4454;
    border-bottom: 1px solid #dedede;
    padding: 6px 10px 6px 6px;
    text-align: right;
    -moz-box-shadow: none;
    -webkit-box-shadow:none;
    box-shadow: none;
     color: #e7e8eb;
}
  
.wpresidence-core_pin_fields td .redux-container-media .upload_button_div {
    margin-top: 7px;
    margin-bottom: 0px;
}

.wpresidence-core_pin_fields td .redux-container-media .screenshot{
    width: auto;
    float: left;
    height: 100%;
    margin-right: 15px;
}

.header_design.compiler .upload_button_div {
    display: none;
}

#image_opt-info_hover_type {
    height: auto!important;
}

.wpresidence-core_pin_fields td .redux-container-media .screenshot img {
    width: 36px!important;
    float: left;
    height: auto!important;
    margin: 0px;
}

.redux-container .notice-yellow {
    border-bottom: 1px solid #4ecb8f;
    background-color: #4ecb8f;
    color: #ffffff;
    text-shadow: none;
}

#wpresidence_admin-wp_estate_generate_pins .estate_option_row {
    border-bottom: 0px solid #FFE7E7;
    padding: 20px 20px 20px 0px;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
    background: #002b2b;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    background: #7482a8;
    text-shadow: none;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
    background: #a0a5aa;
    text-shadow: none;
}
.redux-container h2{
    font-weight: 700;
    font-size: 20px;
    color: #002B2B;
    text-transform: uppercase;
}
.redux-container .redux_field_th {
    font-weight: 600;
    padding: 20px 10px 20px 0px;
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #002B2B;
}
.redux-container .remove-image{
    background-color: #f14a4a!important
    color: #f3f4f7!important;
    min-height: 36px;
    text-align: center;
    padding: 5px 25px;
    box-shadow: none;
    /* line-height: 36px; */
    vertical-align: middle;
    border: none;
    font-size: 14px;
    font-weight: 500;
}


.redux-container .ui-button{
   background-image: none!important;
    background-color: #e1e1e1!important;
    text-shadow: none;
    box-shadow: none;
    padding: 4px 14px 6px!important;
    margin-left: 5px!important;

}
.admin-color-fresh .redux-container-switch .cb-enable.selected, 
.admin-color-fresh .redux-field-container .ui-buttonset .ui-state-active, 
.wp-customizer .redux-container-switch .cb-enable.selected,
.wp-customizer .redux-field-container .ui-buttonset .ui-state-active{
    background-color: #095353 !important;
    background-image: none!important;
    border-color: #002b2b!important;
    box-shadow: none!important;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover, 
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover, 
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover {
    color: #ffffff;
    background: #095353;
}

#redux-import-code-button, 
#redux-import-link-button, 
#redux-export-code-copy, 
#redux-export-link {
    color: #fff;
    background-color: #292e39 !important;
    background-image: none!important;
    border-color: #3e4454!important;
    box-shadow: none!important;
}

#redux-export-code-dl,
#redux-import{
    color: #fff!important;
    background-color: #4ecb8f!important;
    background-image: none!important;
    border-color: #4ecb8f!important;
    box-shadow: none!important;
    text-shadow: none;
}

#redux-import-action span {
    color: #F44336;
    display: block;
    padding: 10px 0px;
    font-weight: 500;
}

.wp-admin .redux-field-container select[multiple] {
    height: 350px;
}

#wp_estate_user_page_permission-select{
    height:190px!important;
}

.admin-color-fresh .select2-drop-active, 
.admin-color-fresh .select2-container-multi.select2-container-active .select2-choices, 
.admin-color-fresh .select2-drop.select2-drop-above.select2-drop-active, 
.admin-color-fresh .select2-container-active .select2-choice, 
.admin-color-fresh .select2-container-active .select2-choices, 
.admin-color-fresh .select2-dropdown-open.select2-drop-above .select2-choice, 
.admin-color-fresh .select2-dropdown-open.select2-drop-above .select2-choices, 
.wp-customizer .select2-drop-active, 
.wp-customizer .select2-container-multi.select2-container-active .select2-choices, 
.wp-customizer .select2-drop.select2-drop-above.select2-drop-active, 
.wp-customizer .select2-container-active .select2-choice, 
.wp-customizer .select2-container-active .select2-choices, 
.wp-customizer .select2-dropdown-open.select2-drop-above .select2-choice, 
.wp-customizer .select2-dropdown-open.select2-drop-above .select2-choices {
    border-color: #ddd;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 44px;
    margin-left: 5px;
}

#edit-gallery,
.redux-container .media_upload_button{
    background-color: #313643!important;
    color: #f3f4f7!important;
    min-height: 36px;
    text-align: center;
    padding: 5px 25px;
    box-shadow: none;
    /* line-height: 36px; */
    vertical-align: middle;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-shadow: none;
}

#clear-gallery,
.redux-main .button.remove-image, 
.redux-main .removeCSS {
    margin-left: 10px;
    color: #ef521d;
    background-color: #e1e1e1!important;
    min-height: 36px;
    text-align: center;
    padding: 5px 25px;
    box-shadow: none;
    vertical-align: middle;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

.button.button-small.wp-picker-clear {
    margin-left: 10px;
    color: #ef521d!important;
    background-color: #e1e1e1!important;
    min-height: 36px;
    text-align: center;
    padding: 5px 25px;
    box-shadow: none;
    vertical-align: middle;
    border: none;
    font-size: 14px;
    font-weight: 500;
    min-width: 80px;
    max-width: 80px;
    margin-top: -5px!important;
}

.wp-picker-container input[type=text].wp-color-picker {
    min-width: 80px;
    max-width: 80px;
    margin-top: -5px;
}

#add_feature2 {
    background-color: #313643!important;
    color: #f3f4f7!important;
    min-height: 36px;
    text-align: center;
    padding: 8px 25px;
    box-shadow: none;
    /* line-height: 36px; */
    vertical-align: middle;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

#wp_estate_custom_css-editor {
    height: 500px!important;
}

.redux-container .redux-group-tab { 
    padding: 10px 30px;
} 
.redux-container .redux_field_th {
    padding: 20px 30px 20px 0px;
}
.redux-container .redux-main span.description {
    color: #888888;
    line-height: 1.6em;
}

textarea#redux-export-code,
textarea#import-code-value,
textarea#redux-export-link-value,
textarea#import-link-value{
    width: 100%;
    max-width: 100%;
    min-height: 300px;
}

.redux-container input[type=text], 
.redux-container input[type=search], 
.redux-container input[type=radio], 
.redux-container input[type=tel], 
.redux-container input[type=time], 
.redux-container input[type=url], 
.redux-container input[type=week], 
.redux-container input[type=password], 
.redux-container input[type=checkbox], 
.redux-container input[type=color], 
.redux-container input[type=date], 
.redux-container input[type=datetime], 
.redux-container input[type=datetime-local], 
.redux-container input[type=email], 
.redux-container input[type=month], 
.redux-container input[type=number],
.redux-container select, 
.redux-container textarea {
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    transition: 50ms border-color ease-in-out;
}

.redux-group-tab.custom_fonts_tab .select_wrapper {
    height: 70px;
}

.redux-main .redux-typography-container .typography-preview {
    margin-top: 15px;
}

#wprentals_admin-wp_estate_mandatory_page_fields input,
#wprentals_admin-wp_estate_submission_page_fields input,
#wprentals_admin-wp_estate_yelp_categories input,
#wprentals_admin-wp_estate_theme_slider input,
#wprentals_admin-wp_estate_advanced_exteded input{
    min-width: 150px!important;
}

.select2-container, .select2-drop, .select2-search {
    max-width: 300px;
}


#wpresidence_admin-wp_estate_yelp_categories select[multiple] option:empty,
#wpresidence_admin-wp_estate_yelp_categories .select2-choices,
#wpresidence_admin-wp_estate_theme_slider select[multiple] option:empty,
#wpresidence_admin-wp_estate_theme_slider .select2-choices,
.class_visible_user_role.select2-container,
.class_visible_user_role select[multiple] option:empty {
    display: none;
}



.redux-container img {
    height: 150px!important;
}

.dashboard_widget_logo.admin_widget_logo {
    height: auto!important;
    width: 192px!important;
    max-height: 80px;
}

#wpestate_dashboard_welcome img,
.redux-container .redux-main .logos_fav_class img {
    height: auto!important;
    width: auto!important;
    max-height: 80px;
}

.class_visible_user_role select[multiple] {
    display: block!important;
    height: auto!important;
}


#wpresidence_admin-wp_estate_theme_slider select[multiple] {
    display: block!important;
    height: 500px!important;
}

#wpresidence_admin-wp_estate_yelp_categories select[multiple]{
    display: block!important;
    height: 420px!important;
}

.custom_fields_wrapper select {
    height: 36px;
}

#wpresidence_admin-wp_estate_splash_slider_gallery .screenshot {
    float: left;
    width: 100%;
}

a.of-uploaded-image {
    width: 100%;
}

#wpresidence_admin-wp_estate_map_style textarea {
    max-width: 600px;
}

.redux-container .select2-default, 
.redux-container .select2-container .select2-choice {
    background-image: none;
    line-height: 36px;
    height: 36px;
    border-radius: 0;
    border: 1px solid #ddd;
    color: #32373c!important;
}

input.redux-typography-height,
input.redux-typography-size {
    background-image: none;
    line-height: 36px!important;
    height: 36px!important;
    border-radius: 0!important;
    border: 1px solid #ddd!important;
    color: #32373c!important;
}

.select2-display-none {
    margin-top: 13px!important;
}

.add-on {
    background-image: none;
    padding-top: 0px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 0!important;
    border: 1px solid #ddd!important;
    background-color: #cccccc!important;
    text-shadow: none!important;
    line-height: 28px!important;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 44px;
    margin-left: 5px;
}

.redux-container .select2-container.select2-allowclear .select2-choice abbr {
    display: none;
}

.redux-container .redux-typography-container .select2-container.select2-allowclear .select2-choice abbr,
.redux-container #wpresidence_admin-wp_estate_global_property_page_template .select2-container.select2-allowclear .select2-choice abbr{
    display: block;
    right: 40px;
    top: 12px;
}


#wpresidence_admin-wp_estate_url_rewrites .label_option_row {
    margin: 15px 0px;
    line-height: 30px;
}

#wpresidence_admin-wp_estate_url_rewrites input {
    line-height: 30px;
    height: 30px;
    vertical-align: baseline;
}

.redux-container .select2-container .select2-choice .select2-arrow {
    background-image: none;
    padding-top: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 0;
    border: 1px solid #ddd;
}

.redux-container .ui-buttonset input {
    border-color: transparent!important;
}

#info-opt-info_hover {
    width: auto;
    max-width: -webkit-fill-available;
    float: left;
}

.select2-search input {
    min-width: auto!important;
    max-width: auto!important;
    margin-top: 5px;
}

.redux-container  .field_row{
    border:none;
}

.redux-container textarea,
.redux-container select{
    background-color: #fff!important;
    border: 1px solid #ddd!important;
    max-width: 300px;
        width: 100%;
}

.redux-container .email_management_class textarea {
    max-width: 100%;
}

#add_curency2,
#add_field2{
    background-color: #313643!important;
    color: #f3f4f7!important;
    min-height: 36px;
    text-align: center;
    padding: 8px 25px;
    box-shadow: none;
    vertical-align: middle;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

#where_cur,
#custom_fields_wrapper select,
.redux-container .input-append{
    height: 36px;
}

textarea#wp_estate_copyright_message-textarea,
textarea#wp_estate_copyright_message-textarea,
#s2id_wp_estate_yelp_categories-select,
#s2id_wp_estate_submission_page_fields-select,
#s2id_wp_estate_mandatory_page_fields-select,
#s2id_wp_estate_advanced_exteded-select,
#s2id_wp_estate_theme_slider-select,
.wp_estate_redux_on_child_theme_customcss textarea{
    max-width: 100%;
}

.wp_estate_redux_on_child_theme_customcss textarea {
    margin: 20px 0px;
}


/*.toplevel_page_WpRentals select,
.redux-container select{
        height: 36px!important;;
}*/

.redux-container input,
.redux-container input {
    box-shadow: none !important;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    vertical-align: middle;
    height: 36px;
    padding: 7px 9px;
/*    min-width: 300px;*/
    max-width: 300px;
    -webkit-appearance: none;
    border: 1px solid #ddd!important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07)!important;
    background-color: #fff!important;
    color: #32373c!important;
    outline: 0;
    transition: 50ms border-color ease-in-out;
}
#wp_estate_mandatory_page_fields-select,
#wp_estate_submission_page_fields-select{
    width:300px!important;
    height:300px!important;
    display: block!important;
    margin-top: 10px;
}
.redux-dev-mode-notice-container.redux-dev-qtip { display: none; }
.rAds {
    width: 0;
    height: 0;
    visibility: hidden;
}

.redux-message.redux-notice,
.redux-messageredux-notice {
    display: none !important;
}

.select2-container, 
.select2-drop, 
.select2-search {
    max-width: 300px;
}

.redux-container .redux-main input[type=checkbox] {
    width: 25px!important;
    height: 25px!important;
    min-width: auto;
}

#redux_save_sticky,
#redux_save{
    height: 36px;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
    min-width: 170px;
    margin-top: -1px;
    background-color: #4ecb8f!important;
    color: #fff!important;
    border-color: #4ecb8f!important;
}
 
#redux-defaults-section-sticky, 
#redux-defaults-sticky, 
#redux-defaults-section, 
#redux-defaults {
    height: 36px;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
    min-width: 170px;
    margin-top: -1px;
    background-color: #a0a5aa!important;
    color: #fff!important;
    border-color: #7482a8!important;
}

input[type=checkbox]:checked:before {
    color: #1e8cbe;
}
.redux-container input[type=checkbox]:checked:before,
.redux-container input[type=checkbox]:checked:before {
    content: "\f147";
    margin: 0px 0px 0px 0px;
    color: #1e8cbe;
    font-size: 24px;
    width: auto;
}
/*=Theme Options */

.ocdi__gl.js-ocdi-gl{
    margin-top: 20px;
}

.wpresidence_clear_cache{
    padding: 15px;
}


.modal_notice{
    position: absolute;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -245px;
    background-color: #fff;
    z-index: 100;
    padding: 30px;
    box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.3em;
}
.modal_notice p{
    font-size:15px;
}
.reverse_but{
    background-color: #4d5567;
  
    font-weight: 600;
    color: #fff;
}

.reverse_but:hover{
    background-color: #576074;
    color: #fff;
}


.cleared_cache{
    background: #e12c2c;
    color:#fff;
    font-size: 15px;
    padding: 10px;
    margin: 10px 20px 0 2px;
}

.license_check_wrapper{
    background: #1CA8DD;
    padding: 20px;
    margin: 10px 20px 20px 2px;
    color: #fff;

}

.activate_notice{
    color:#fff;
    cursor:pointer;
}

#check_ajax_license{
    padding: 7px 25px!important;
    margin-top: 14px;
}


.fixed .column-response {
    width: 100%;
}

.edit-comments-php .fixed .column-response {
    width: auto;
}

#page_custom_video_cover_image_button,
#page_custom_video_ogv_button,
#page_custom_video_webbm_button,
#page_custom_video_button{
    box-shadow: none !important;
    border-radius: 6px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    border-color: #d9d9d9;
    vertical-align: middle;
    height: 40px;
    padding: 7px 9px;
    min-width: 300px;
    -webkit-appearance: none;
    border: 1px solid #d9d9d9;
}

.header_admin_options {
    display:none;
}

.add_curency{
    display: inline-block;
}
.cur_explanations {
    margin: 10px 0px 5px 0px;
}

#plan_image{
    max-width: 250px;   
}

#plan_image_button,
#category_featured_image_button,
#page_custom_image_button{
    min-width: 150px!important;
    background-color: #095353!important;
    color: #fff!important;
    padding-top: 3px!important;
    height: auto!important;
    padding-bottom: 3px!important;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    box-shadow: none !important;
}

.new_admin_submit{
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    outline: 0;
    border: 0;
    padding: 11px 25px!important;
    text-decoration: none;
    cursor: pointer;
    color: #fff !important;
    background-color: #095353;
    min-width: auto!important;
        padding-top: 9px!important;
}

.new_admin_submit_right{
    float: right;
    margin: 15px 15px 0px 0px;
}

.theme_options_hide{
    display:none;
}

#wpestate_wrapper_admin_menu h1{
    margin-top: 0px;
    padding: 20px 23px;
    display: inline-block;
}


.theme_option_separator{
    border-bottom: 0px solid #ccc;
}


.estate_option_row{
   border-bottom: 1px solid #FFE7E7;
   padding: 20px 20px 20px 230px;
}

.estate_option_row h1 {
    font-weight: bold;
    line-height: 0;
    padding-left: 0px!important;
    border-color: #fff;
}

#splash_slider_images{
    display: inline-block;
    padding-left: 30px;
    
}

.splash_image_info,
.splash_slider_info,
.splash_video_info{
    display:none;
}

#splash_slider_images.splash_slider_info {
    display: block!important;
    padding: 20px 20px 20px 230px;
}

.splash_thumb_wrapepr {
    float: left;
    width: 100%;
}


.header_explanation {
    font-size: 12px;
    display: block;
    padding: 0px 0px 0px 230px;
}

.estate_option_row_submit{
    padding: 20px 20px 20px 230px;
}

.label_option_row{
    font-weight: bold;
    font-size:15px;
    color: #002B2B;
}

.option_row_explain{
    color: #99999b;
    font-style: italic;
    margin-bottom: 7px;
}

#wpestate_wrapper_admin_menu select[multiple] {
    height: auto;
}

#wpestate_wrapper_admin_menu select {
    box-shadow: none !important;
    border-radius: 6px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    border-color: #d9d9d9;
    vertical-align: middle;
    min-height: 40px;
    height: 40px;
    padding: 7px 9px;
    min-width: 300px;
}

#custom_fields_search select,
#custom_fields_wrapper select,
#custom_fields  select {
    width:140px!important;
    min-width:140px!important;
}



.upload_button {
    min-width: 150px!important;
    background-color: #095353!important;
    color: #fff!important;
    padding-top: 6px!important;
}

#wpestate_search_bar,
#wpestate_wrapper_admin_menu input{
    box-shadow: none !important;
    border-radius: 6px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    border-color: #d9d9d9;
    vertical-align: middle;
    height: 40px;
    padding: 7px 9px;
    min-width: 300px;    
    -webkit-appearance: none;
    border: 1px solid #d9d9d9 ;
}


#free_mem_list_unl{    
    width: 18px;
    height: 18px!important;
    min-width: 18px!important;
    border-radius:1px!important;
}

#email_management_tab input{
    margin-bottom: 20px;
}


#wpestate_wrapper_admin_menu textarea{
    border: 1px solid #d9d9d9;
    box-shadow: none !important;
    border-radius: 6px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    
}



#global_settings_tab input:focus{
    border-radius: 0px;
}

.theme_options_sidebar ul{
    float:left;
    width:100%;
}

.theme_options_sidebar ul li{
    float: left;
    padding: 9px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 3px 10px;
    width: 160px;
}

.theme_options_sidebar ul li.selected_option{
    background-color: #CDCDCD;
    color: #002B2B;
    border-radius: 3px;
}
.theme_options_sidebar ul li:hover{
    background-color: #DFDFDF;
}


.wrap-topbar{
    position:relative;
    width: 100%;
    height: 100px;
    background-color: #002B2B;
    background-image: url('css-images/header-admin.jpg');
    background-position: 100% 0px;
    background-repeat: no-repeat;
}
.theme_details{
    position: absolute;
    top: 78px;
    right: 20px;
}

#title_demo_import{
    color: #F8D10A;
    margin: 25px 20px 20px 20px;
    float: left;
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}

.upload_details{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


.admin_top_bar_button{
    color: #F9D10A;
    cursor: pointer;
    text-align: center;
    float: left;
    width: 110px;
    height: 100px;
    padding: 24px 6px 10px 6px;
    box-sizing: border-box;
}

.tobpbar_selected_option,
.admin_top_bar_button:hover{
    background-color: #095353;
}

.admin_top_bar_button img{
    display: block;
    margin: auto;
}

#wpestate_sidebar_menu{
    width: 200px;
    background-color: #ECECEC;
    border: 1px solid #E4E4E4;
    float:left;
    min-height: 800px;
}

#wpestate_wrapper_admin_menu{
    width: 100%;
    /* float: left; */
    min-height: 800px;
    background: #fff;
}




#estate_admin_form{
    width: 100%;
    float: left;
}

#aaiu-uploader-demo{
    float:left;
    clear:both;
    font-size: 14px;
    text-transform: uppercase;
    line-height: normal!important;
    background-color: #002B2B !important;
    color: #fff;
    padding: 9px 26px!important;
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff;
    margin: 20px 10px 10px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: none;
}

#upload-container{
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.file_progress{
    float:left;
    width:100%;
}

.uploaded_images_demo{
    position: relative;
    float: left;
    margin-right: 20px;
}

.activate_wrapper{
    
}

.activate_template{
    position: absolute;
    bottom: -50px;
    right: -5px;
    background-color: #3C90BE;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    line-height: normal!important;
    background-color: #002B2B !important;
    color: #fff;
    padding: 9px 26px!important;
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff;
    margin: 20px 10px 10px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: none;
}


.template-item{
    float:left;
    position:relative;
    margin-right: 20px;
    margin-bottom: 60px;
}

.template-wrapper{
    position:relative;
    float:left;
    margin-bottom: 30px;
}

.template_details{
    position: absolute;
    top: 10px;
    left: 10px;
    background: black;
    padding: 10px 20px;
    color: white;
}

#upload-container .imagelist{
    width:100%;
    float:left;
}

.importing_mess{
    position: absolute;
    bottom: -37px;
    left: 2px;
    padding: 10px 0px;
    color: #002B2B;
    width: 200px;
}


.wpestate_adv_search_label{
    font-size: 14px;
    margin-bottom: 10px;
    float: left;
}

#wpestate_search_bar{
    width: 100%;
    padding: 10px;
    font-size: 15px;
}




#wpestate_search_bar{
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.wpestate_admin_search_bar{
    background: #ECECEC;
    border: 1px solid #E4E4E4;
    padding: 10px;
}


#activate_pack_listing,
#activate_pack{
    background-color: #1ABC9C;
    color:#fff;
    padding:10px 20px;
    cursor:pointer;
    display: inline-block;
}



.notice_file{
    padding:10px;
    background: red;
    color:#fff;
    margin-left:20px;
}

.pblank{
    margin-bottom: 40px;
}

#theme_slider{
    height: 400px!important;
    margin-left: 0px;
}

.wpestate-tab-wrapper-container p{
    margin-left: 20px;
}

.admin-exp{
    margin-left: 230px;
    padding-right: 10px;
}

.desgintable input{
    float:left;
}

.wpestate-tab-wrapper-container{
    float:left;
      background: #ececec;
      border: 1px solid #ccc;
}


.wpestate-tab-wrapper{
    width:200px;
    height:100%;
    float:left;
}



.ourlogo{
    width:100%;
    float:left;
    height: 95px;
}

.ourlogo img{
    margin:28px 0px 0px 20px;
}

.wpestate-tab-item{
    width:100%;
    padding: 0px; 
    float:left;
    font-size: 14px;
    font-family: 'Arial';
    font-style: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
    z-index: 100;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor:pointer;
}

.wpestate-tab-item:hover{
    background-color: #f1f1f1;
}

.wpestate-tab-item:hover a{
     color:#45b37e;
}


.wpestate-tab-item a{
    text-decoration: none;
    color: #1a171b;
    line-height: 22px;
    padding: 13px 0px 5px 15px;
    width: 185px;
    float: left;
    min-height: 30px;    
}


.wpestate-tab-active{
   background-color: #FCFCFC;
    width: 101%;
}

.wpestate-tab-active a{
      color:#45b37e;
}

.wpestate-tab-container{
    height:100%;
    min-height: 1200px;
    width:690px;
    float:left;
    border-left:1px solid #ccc;
    background-color: #FCFCFC;
    z-index: 10;
    position: relative;
    padding-right: 20px
}


.wpestate-tabh1{
    color: #1a171b;
    font-size: 25px;
    font-weight: normal;
    margin: 37px 20px 20px 20px!important;
}

.wpestate-tab-container .form-table{
    margin-left: 20px;
    color: #1a171b!important;
}

.help_link{
    position:absolute;
    top:15px;
    right:15px;
    text-decoration: none;
    background-color: #22be73;
    color: #fff;
    padding: 2px 10px;
}

.help_link:hover{
    color:#000;
}
/*=Page Options */

.metacustom label{
    width:100%;
    float: left
}

.metacustom{
    float:left;
    width:33%;
    margin-bottom: 22px;
}

.field_item{
    float:left;
    width:145px;
    margin-right:20px;
}
.newfield{
    width:200px;
}


.field_row{
    margin-bottom: 0px;
    float: left;
    width: 100%;
    padding: 15px 15px
}

.field_row:nth-child(odd){
    background-color: #f6f6f6;
}

.var_price_sliders .field_row {
    margin-bottom: 0px;
    float: none;
    width: 100%;
    padding: 15px 15px;
    height: 42px;
}



.deletefieldlink {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
    color: #ef521d;
    background-color: #e1e1e1!important;
    min-height: 36px;
    text-align: center;
    padding: 0px 25px;
    box-shadow: none;
    vertical-align: middle;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 17px;
    text-decoration: none;
}

#custom_fields_search,
#custom_fields_wrapper,
#custom_fields{
    margin: 10px 10px 30px 0px;
    display: inline-block;
}

#add_field{
    margin: 10px 0px 0px 0px;
    background-color: #4ecb8f;
    color: #fff;
    padding: 11px;
    text-decoration: none;
    float: left;
    border-radius: 3px;
    min-width: 129px!important;
    text-align: center;
}

#add_curency{
    margin: 10px 0px 10px 0px;
    background-color: #4ecb8f;
    color: #fff;
    padding: 11px;
    text-decoration: none;
    display: inline;
    border-radius: 3px;
    display: inline-block;
    padding: 11px;
    min-width: 129px!important;
    text-align: center;
}


.memebership_row{
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.memebership_item{
   width:200px;
   margin: 10px 0px 0px 0px;
   float:left;
}

.memebership_item label{
    width:100%;
}

#new_membership{
    width: 86px;
    height: 20px;
    float: left;
    padding: 6px 10px 0px 10px;
    background-color: #ccc;
    margin-top: 25px;
    cursor: pointer;
}

.submit_membership{
    clear: both;
    float: left;
}

#sample_member_row{
   display:none; 
}

.memebership_alert{
    padding: 8px;
    background-color: #fffbcc;
    margin: 4px;
    width: 375px;
}

.remove_pack{
    margin-top: 30px;
    float: left;
    cursor: pointer;
}

.memeber_title{
    margin: 30px 0px 0px 0px;
    float:left;
}

.pblankh{
    padding-left:0px!important;
 
    font-size: 15px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.third-meta-options {
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
}

/* =MailChimp
----------------------------------------------- */

#mc_embed_signup,
.indicates-required,
.mc-field-group,
.mce-responses,
.response,
#mce-responses .clear{
    display:block!important;
}
/* Patterns admin
/////////////////////////////////////////////////////////////////////////////////////*/


.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden; 
    position: absolute;
    background: url(css-images/colorpicker_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    
}

.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}

.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(css-images/colorpicker_overlay.png);
}

.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(css-images/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}

.colorpicker_hue {

    position: absolute;

    top: 13px;

    left: 171px;

    width: 35px;

    height: 150px;

    cursor: n-resize;

}

.colorpicker_hue div {

    position: absolute;

    width: 35px;

    height: 9px;

    overflow: hidden;

    background: url(css-images/colorpicker_indic.gif) left top;

    margin: -4px 0 0 0;

    left: 0px;

}

.colorpicker_new_color {

    position: absolute;

    width: 60px;

    height: 30px;

    left: 213px;

    top: 13px;

    background: #f00;

}

.colorpicker_current_color {

    position: absolute;

    width: 60px;

    height: 30px;

    left: 283px;

    top: 13px;

    background: #f00;

}

.colorpicker input {

    background-color: transparent;

    border: 1px solid transparent;

    position: absolute;
    font-size: 10px;

    font-family: Arial, Helvetica, sans-serif;

    color: #898989;

    top: 4px;

    right: 11px;

    text-align: right;

    margin: 0;

    padding: 0;

    height: 11px;

}

.colorpicker_hex {

    position: absolute;

    width: 72px;

    height: 22px;

    background: url(css-images/colorpicker_hex.png) top;

    left: 212px;

    top: 142px;

}

.colorpicker_hex input {

    right: 6px;

}

.colorpicker_field {

    height: 22px;

    width: 62px;

    background-position: top;

    position: absolute;

}

.colorpicker_field span {

    position: absolute;

    width: 12px;

    height: 22px;

    overflow: hidden;

    top: 0;

    right: 0;

    cursor: n-resize;

}

.colorpicker_rgb_r {

    background-image: url(css-images/colorpicker_rgb_r.png);

    top: 52px;

    left: 212px;

}

.colorpicker_rgb_g {

    background-image: url(css-images/colorpicker_rgb_g.png);

    top: 82px;

    left: 212px;

}

.colorpicker_rgb_b {

    background-image: url(css-images/colorpicker_rgb_b.png);

    top: 112px;

    left: 212px;

}

.colorpicker_hsb_h {

    background-image: url(css-images/colorpicker_hsb_h.png);

    top: 52px;

    left: 282px;

}

.colorpicker_hsb_s {

    background-image: url(css-images/colorpicker_hsb_s.png);

    top: 82px;

    left: 282px;

}

.colorpicker_hsb_b {

    background-image: url(css-images/colorpicker_hsb_b.png);

    top: 112px;

    left: 282px;

}

.colorpicker_submit {

    position: absolute;

    width: 22px;

    height: 22px;

    background: url(css-images/colorpicker_submit.png) top;

    left: 322px;

    top: 142px;

    overflow: hidden;

}

.colorpicker_focus {

    background-position: center;

}

.colorpicker_hex.colorpicker_focus {

    background-position: bottom;

}

.colorpicker_submit.colorpicker_focus {

    background-position: bottom;

}

.colorpicker_slider {

    background-position: bottom;

}









.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url(css-images/colorpicker_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    z-index:99;
}
.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}
.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(css-images/colorpicker_overlay.png);
}
.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(css-images/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}
.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize;
}
.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(css-images/colorpicker_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0px;
}
.colorpicker_new_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00;
}
.colorpicker_current_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00;
}
.colorpicker input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px;
}
.colorpicker_hex {
    position: absolute;
    width: 72px;
    height: 22px;
    background: url(css-images/colorpicker_hex.png) top;
    left: 212px;
    top: 142px;
}
.colorpicker_hex input {
    right: 6px;
}
.colorpicker_field {
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute;
}
.colorpicker_field span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize;
}
.colorpicker_rgb_r {
    background-image: url(css-images/colorpicker_rgb_r.png);
    top: 52px;
    left: 212px;
}
.colorpicker_rgb_g {
    background-image: url(css-images/colorpicker_rgb_g.png);
    top: 82px;
    left: 212px;
}
.colorpicker_rgb_b {
    background-image: url(css-images/colorpicker_rgb_b.png);
    top: 112px;
    left: 212px;
}
.colorpicker_hsb_h {
    background-image: url(css-images/colorpicker_hsb_h.png);
    top: 52px;
    left: 282px;
}
.colorpicker_hsb_s {
    background-image: url(css-images/colorpicker_hsb_s.png);
    top: 82px;
    left: 282px;
}
.colorpicker_hsb_b {
    background-image: url(css-images/colorpicker_hsb_b.png);
    top: 112px;
    left: 282px;
}
.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(css-images/colorpicker_submit.png) top;
    left: 322px;
    top: 142px;
    overflow: hidden;
}
.colorpicker_focus {
    background-position: center;
}
.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_slider {
    background-position: bottom;
}

.colorpickerHolder{
    height: 35px;
    right: 0;
    top: 0;
    width: 35px;
    float: left;
    margin-right: 10px;
    border:1px solid #FFE7E7;
    margin-top: 2px;
}

.colorpickerHolder div{
    background:transparent url(css-images/select2.png) repeat scroll center center;
    height:35px;
    left:1px;
    top:1px;
    width:35px;
}
#colorpickertable .inptxt{width:70px;}
#colorpickertable .clp{width:250px;padding-left:15px;}




/*=======================================================================

    Tabs
    
 ========================================================================*/

.tabs { 
    display: block;
    width:700px;
    margin-top:30px;
    border:1px solid #CCC;
}

.tabs ul {
    margin: 0;
    padding: 0;
    height: 20px;
    border-bottom: 1px solid #CCC;
}

.tabs li {
    display: block;
    width:200px;
    padding: 0;
    margin: 0 10px 0 0;
    line-height: 30px;
    float: left;
    color: #999;
    cursor: default;
}

.tabs li a {
    display: block;
    width: auto;
    height: 29px;
    padding: 0 9px;
    line-height: 30px;
    border: 1px solid #CCC;
    margin: 0 -1px 0 0;
    color: #05390a;
    background: #5dbb73;
    text-decoration: none;
}

.tabs li a:hover {
    text-decoration: none;
}

.tabs li.active a {
    height: 30px;
    font-weight: bold;
    background: #ebffef;
    border-width: 1px 1px 0 1px;
}

.tabs div {
    display: none;
    padding: 20px 10px;
}

#googleMap > div{
    display: block;
} 

#googleMap > div div{
    display: block;
} 
/*  */

#tabsys input[type="text"],#tabpat input[type="text"]{	
    float: left;
    display: inline;
}

#tabsys .colorpickerHolder,#tabpat .colorpickerHolder{
    display: inline;
    float:left;
    padding:0px;

}
#tabsys .sqcolor,#tabpat .sqcolor{
    display: block;
    padding:0px;
}

/* 
.tabs tabadmin {
               display: none;
padding: 20px 10px;
       }
*/	

.tabs div.active {
    display: block;
}

.tabs li:last-child {
    margin-right: 0;
}

/**** Pretty Tab Styles ****/

.pretty.tabs ul {
    display: table;
    width: 100%;
    border: 1px solid #CCC;
    background: #f7f7f7;


}

.pretty.tabs li {
    display: table-cell;
    float: none;
    text-align: center;
}

.pretty.tabs li a {
    padding: 0;
    font-size: 14px;
    height: 52px;
    line-height: 52px;
    color: #444;
    border: none;
    border-right: 1px solid #CCC;
    font-weight: bold;
    background: transparent;
}

.pretty.tabs li:last-child a {
    border-right: none;
}

.pretty.tabs li.active a {
    font-weight: bold;
    color: #fff;
    position: relative;
    border: none;
    background: #D74142; /* Old browsers */


}

.pretty.tabs ul li.active:first-child a {

    margin-left: 0; 
}

.pretty.tabs ul li.active:last-child a {

}

.ie7 .pretty.tabs > ul { width: 100%; height: 51px; }
.ie7 .pretty.tabs > ul li { display: block; float: left; margin: 0; }
.ie7 .pretty.tabs > ul li a { padding: 0 20px; }



/**** Pill Tabs ****/

.pill.tabs { height: auto; }
.pill.tabs li, .pill.tabs li, .pretty.pill.tabs li { float: none; height: auto; }
.pill.tabs li a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
.pill.tabs li a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }

.pretty.pill.tabs { border-bottom: solid 1px #eee; height: auto; }
.pretty.pill.tabs li a { padding: 15px 20px; border: none; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 1px solid #eee; background: #fff; }
.pretty.pill.tabs li a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
.pretty.pill.tabs li.active:first-child a { margin: 0; }


@media only screen and (max-width: 1440px){
    .deletefieldlink{
        margin-top: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .pretty.tabs ul {
        overflow: hidden;
    }

    .pretty.tabs li a {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
}

/* Vertically Align Stuff */

.valign { display: table; width: 100%; }

.valign > div, .valign > article { display: table-cell; vertical-align: middle; }


/*3.8 update*/

.form-table, .form-table td, .form-table th, .form-table td p, .form-wrap label{
    font-size: 13px;
    font-weight: normal;
}

textarea, input, select {
    font-size: 13px;
}


.meta-box-sortables select {
  max-width: 250px;
  width: 100%;
}

.field_item input{
    width:125px;
    min-width:125px!important;
}

#add_status,
#add_feature{
    margin: 10px 0px 0px 0px;
    background-color: #4ecb8f;
    color: #fff;
    padding: 11px;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    min-width: 129px!important;
    text-align: center;
}
#add_status{
    margin-bottom:10px;
}

#estate_property-googlemap input[type=text],
#estate_property-custom input[type=text],
#estate_property-propdetails input[type=text],
#estate_property-sectionid input[type=text]{
        width:250px;
}

#estate_property-googlemap textarea,
#estate_property-custom textarea,
#estate_property-propdetails textarea,
#estate_property-sectionid textarea{
        width:250px;
}


.advsearchlable{
    margin-left: 10px;
}

.pblankh{
  padding-left: 0px;  
}


.meta-options.third-meta-options input[type=text] {
    width: 100%;
}


.wpb-content-layouts .wpb-layout-element-button .wpestate_vc_logo {
    background-image: url(css-images/vclogo.png);
    width: 30px;
    height: 30px;
    background-size: contain; 
}
.wpb-content-layouts .wpb-layout-element-button .vc-element-icon.wpestate_vc_logo {
    width: 32px;
    height: 32px; 
}




.wpb-content-layouts .wpb-layout-element-button .wpestate_vc_logo2 {
    background-image: url(css-images/vclogo2.jpg);
    width: 30px;
    height: 30px;
    background-size: contain; 
}
.wpb-content-layouts .wpb-layout-element-button .vc-element-icon.wpestate_vc_logo2 {
    width: 32px;
    height: 32px; 
}


.vc_license-activation-notice{
    display:none;
}


.floor_p{
    width:50%;
    float:left;   
    height: 50px;
}

.floor_p.image_plan{
       width:100%;
}

.plan_description{
    width:345px;
}

.plan_row{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 15px;
    position:relative;
}

.plan_row i {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #a51e6c;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.plan_row textarea,
.plan_row input{
    width:90%;
}

#plan_image_button{
    width:100px!important;
}

#add_new_plan {
    margin: 10px 0px 30px 0px;
    cursor:pointer;
   
    background-color: #4ecb8f;
    color: #fff;
    padding: 5px;
}


.email_row{
    width:100%;
    float:left;
    padding-left: 230px;
    margin-bottom: 20px;
}

.email_row label{
    width:100%;
    float:left;
} 

.email_row input,
.email_row textarea{
    width:75%;
    float:left;
    margin-bottom: 10px;
}

.extra_exp{
    float:left;
    width:100%;
}

.extra_exp_new {
    width: 100%;
    display: inline-block;
}

/*=mega menu admin*/
.wpestate-megamenu-background-image {
    max-width: 300px;
}





.remove-megamenu-background,
.field-megamenu-background, 
.field-megamenu-checkbox, 
.field-megamenu-font-icon, 
.field-megamenu-styles, 
.field-megamenu-widgets, 
.wpestate-megamenu-background-image,
.load_back_menu{
    display: none;
}

.menu-item-depth-0.wpestate-megamenu .load_back_menu  {
    display: inline-block;
}

.menu-item-depth-0 .field-megamenu-checkbox, 
.menu-item-depth-0.wpestate-megamenu .field-megamenu-background, 
.menu-item-depth-0.wpestate-megamenu .field-megamenu-styles,
.menu-item-depth-0.wpestate-megamenu .wpestate-megamenu-background-image, 
.menu-item-depth-1.wpestate-megamenu .field-megamenu-widgets, 
.menu-item-depth-2.wpestate-megamenu .field-megamenu-widgets {
    display: block;
    margin: .6em 0!important;
}

.field-megamenu-checkbox-border{
    display:none;
}

.menu-item-depth-1 .field-megamenu-checkbox-border{
    display:block;
}



/*=property page design*/
#property_page_tools{
    width:100%;
    float:left;
    height:150px;
    margin-top:40px;
}

#property_page_design_wrapper{
    border: 2px solid #ccc;
    padding: 0px 20px 0px 0px;
    min-height: 500px;
    height: auto;
    float: left;
    width: 100%;
    margin: 45px 0px 20px 0px;
    box-sizing: border-box;
}

#property_page_sidebar_left,
#property_page_sidebar_right{
    border: 1px solid red;
    width: 29%;
    min-height: 500px;
    float: left;
    margin-left: 1%;
    float:left;
    padding: 15px 15px 30px 15px;
    box-sizing: border-box;
}

#property_page_sidebar_left{
    margin-left: 0%;
    margin-right: 1%;
}

#property_page_content{
    border: 1px solid #cdcdcd;
    width: 70%;
    min-height: 500px;
    float: left;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 15px 15px 30px 15px;
    box-sizing: border-box;
    margin-top: 20px;
}


#property_page_content li{
    
}







#property_page_content.full_page{
    width:100%;
}

.prop_full_width{
    border-radius: 3px;
    background-color: #efefef;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    margin: 30px 0px 10px 0px;
    height: auto;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}



.prop_page_design_el{
    float: left;
    border-radius: 3px;
    background-color: #efefef;
    padding: 10px 10px;
    text-align: center;
    min-width: 70px;
    position:relative;
}

.prop_page_design_el:hover{
    cursor: move;
    background-color: #d7d7d7;
}

.prop_page_design_el_modal{
    float: left;
    border-radius: 0px;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    width: 100px;
    position: relative;
    cursor: pointer;
    margin: 1px;
    height: 35px;

}

.prop_page_design_el_modal:hover{
    background-color: #efefef;
}


.delete_design_el{
    width: 30px;
    top: 0px;
    right: 0px;
    height: 30px;
    background: red;
    position: absolute;
}

.prop-col-control-wrapper{
    position: absolute;
    top: -21px;
    left: 0px;
}

.prop-col-control{
    position: relative;
    float: left;
    background-color: #EFEFEF;
    /* width: 20px; */
    height: 20px;
    padding: 5px 10px;
    margin-right: 2px;
    cursor: pointer;
}

.prop-columns{
    background-color: #999;
    float: left;
    border: 3px solid #efefef;
    box-sizing: border-box;   
    min-height: 35px;
}

.col-prop-12{
    width:100%;
}

.col-prop-9{
    width:75%;
}

.col-prop-8{
    width:66%;
}

.col-prop-6{
    width:50%;
}

.col-prop-3{
     width:25%;
}

.col-prop-4{
   width:33.33%;
}

.add_prop_design_element{
    width: 20px;
    height: 20px;
    background-color: lightblue;
    margin: 0px auto;
    margin-top: 4px;
    cursor:pointer;
}

.design_element_col{
    text-align: center;
    background: yellow;
    margin: 5px 5px;
    padding: 5px;
    cursor:pointer;
}

.custom_css_design{
    width: 17px;
    height: 16px;
    background-color: #00BCD4;
    float: right
}

.delete_element_design{
    width:15px;
    height:15px;
    background-color: red;
    float:right;
    margin: 0px 10px;
}


#modal_el_options,
#modal_el_pick{
    display:none;
    width:500px;
    height:700px;
    background-color: #eee;
    position:fixed;
    top:50%;
    left:50%;
    margin-left: -250px;
    margin-top: -290px;
    -webkit-box-shadow: -7px 7px 40px -4px rgba(189,189,189,1);
     -moz-box-shadow: -7px 7px 40px -4px rgba(189,189,189,1);
     box-shadow: -7px 7px 40px -4px rgba(189,189,189,1);
}

#modal_el_options_close,
#modal_el_pick_close{
    position:absolute;
    background-color: red;
    top:0px;
    right:0px;
    cursor:pointer;
}


#save_prop_design{
        box-shadow: none !important;
    border-radius: 6px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    border-color: #d9d9d9;
    vertical-align: middle;
    height: 40px;
    padding: 7px 9px;
    min-width: 300px;
    -webkit-appearance: none;
        font-size: 14px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    outline: 0;
    border: 0;
    padding: 11px 25px!important;
    text-decoration: none;
    cursor: pointer;
    color: #fff !important;
    background-color: #095353;
    min-width: auto!important;
    padding-top: 9px!important;
}

.elements_container{
    position:relative;
}
.add_me_new_row{
    width:100%;
    height:30px;
    position:absolute;
    bottom:0px;
    right:0px;
    font-size: 17px;
    background-color: lightgreen;
    text-align: center;
    
}
.add_me_new_row:hover{
    cursor:pointer;
}

#modal_el_options, #modal_el_pick { 
    height: auto;
    overflow-y: auto;
    padding: 18px;
    background-color: #ececec;
    box-shadow: 1px 1px 4px rgba(0,0,0,.25);

}#modal_el_options, #modal_el_pick {
    margin-top: -290px;}

.add_me_new_row {
    background-color: #095353;
    color: #ececec;
    line-height: 1.9em;
    font-family: 'Open Sans', sans-serif;
}


.prop_page_design_el_modal {
    width: 111px;
    transition: border-color .2s;
    background: #F5F5F5;
    border: 1px solid #faf9f9;
}

.prop_page_design_el_modal:hover {
    background-color: #DFDFDF;
    color: #002B2B;
    border-radius: 3px;
}

#modal_el_options_close, #modal_el_pick_close {
    font-size: 1.2em;
    color: #ffffff;
    height: 20px;
    width: 19px;
    text-align: center;
    background-color: #002B2B;
}

#property_page_design_wrapper {
    border: none!important;
}

.modal_el_options_content_element label {
    display: table;
    margin: 5px;
}

.add_prop_design_element {
    background-color: #095353;
    color: #ececec;
    line-height: 1.5em;
    border-radius: 4px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
}

.prop-col-control {
    background-color: #ececec;
}

.prop-columns {
    background-color: #cdcdcd;
}

.design_element_col {
    background: #ffffff;
    text-align: left;
}

.custom_css_design {
    width: 17px;
    height: 16px;
    background-color: #00BCD4!important;
    float: right;
}

#wpresidence_admin-wp_estate_adv6_max_price .field_item,
#wpresidence_admin-wp_estate_adv6_min_price .field_item {
    float: left;
    width: 310px;
    margin-right: 20px;
    line-height: 36px;
}

input#save_custom_el_css {
    border: 1px solid #d9d9d9!important;
    color: #fff !important;
    background-color: #095353!important;
    min-width: auto!important;
    padding-top: 5px;
    margin-top: 10px;
    right: 20px;
    bottom: 20px;
}

.prop_full_width {
    background-color: #ececec;
    padding: 15px 15px;
}

.delete_element_design {
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding-bottom: 2px;
    width: 17px;
    height: 16px;
    margin: 0px 6px 0px -2px;
    background-color: #002B2B;
}

input#use_unit_design {
    border: 1px solid #095353;
    cursor: pointer;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    min-width: 20px!important;
    margin: -19px 4px 0 -80px;
    float: left;
    margin-right: -231px;
}


/*input[type=checkbox]:checked:before {
    content: "\f147";
    margin: -1px 0 0 -2px;
    color: #002b2b;
}*/

#property_page_design_wrapper {
    border: 2px solid #cdcdcd;
    margin: 0px 0px 20px 0px;
}


#wpestate_wrapper_admin_menu input {
    min-width: auto;
}

.delete_design_el {
    width: 19px;
    font-size: 1.2em;
    color: #ffffff;
    height: 20px;
    background-color: #002B2B;
}

.modal_el_options_content_element {
    text-transform: capitalize;
    width: 48%;
    display: inline-block;
}

input#position-absolute {
    height: 20px;
    text-align: center;
    width: 20px;
}

#property_page__design_tab .label_option_row {
    margin-left: -210px;
}

#save_prop_design {
    height: 20px;
}

.custom_css_design:before {
    content: "<!";
}

.add_me_new_row:after {
    content: " Add row";
}

.add_prop_design_element:after {
    content: " Add element";
}


.delete_design_el:before {
    content: "x";
}

.delete_element_design:before {
    content: "X";
}

#wpestate_wrapper_admin_menu #modal_el_options select{
    min-width:175px;
}

/** new property interfeace */
#new_tabbed_interface .inside{
    margin:0px;
    padding:0px;
    background:#fdfdfd;
}
.property_options_wrapper{
overflow:auto;
}

.property_options_wrapper_list{
     float: left;
    width: 220px;
    height: 100%;
}

.property_tab_item{
    width: 200px;
    background: #3C90BE;
    color: #fff;
    padding:10px;
    border-bottom: 1px solid #79b1d0;
    cursor:pointer;
}

.property_tab_item.active_tab{
    display:block;
}
.property_tab_item.active_tab{
    color:#3a4659;
    background:#fdfdfd;
}


.property_options_content_wrapper{
    padding-left: 230px;
}

.property_tab_item_content{
    display:none;
    background:#fdfdfd;
    padding:13px;
}

.property_tab_item_content.active_tab{
    display:block;
}

.property_prop_half{
    width:50%;
    float: left;
    margin-bottom: 10px;
    min-height: 60px;
}

.property_prop_half.prop_full{
    width:100%;
}

.property_prop_half.propcheck{
    width:33%;
    margin-bottom: 0px;
    min-height: 40px;
}

.property_options_content_wrapper label{
    margin-bottom: 6px;
    float: left;
    width: 100%;
    font-weight: bold;
    color:#777;
}

.property_options_content_wrapper label.checklabel{
    width: auto;
    float: none;
}


.property_options_content_wrapper h3{
    margin-top: 0px;
    font-size: 17px;
    border-bottom: 1px solid #f0eeee;
    padding-bottom: 12px;    
}


.property_options_content_wrapper input[type=text], 
.property_options_content_wrapper textarea, 
.property_options_content_wrapper select{
    width: 275px;
    max-width: 275px;
}

.property_options_content_wrapper input[type=radio],
.property_options_content_wrapper input[type=checkbox]{
    margin-top: 0px;
}

.property_uploaded_thumb_wrapepr{
    float:left;
    width:100%;
}

.uploaded_thumb{
    float: left;
    display: inline;
    margin: 10px 20px 10px 0px;
    position: relative;
}

.attach_edit{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a51e6c;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.attach_delete{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #a51e6c;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}



#attach_contaiener{
    width:100%;
    height:100%;
}

#property_custom_video_button,
#button_new_image{
    height: 40px;
    padding: 0px 0px!important;
    float: left;
    margin-bottom: 20px;
}
#property_custom_video_button{
    float: none;
}

/* email tinymce integration fix */
.estate_option_row  .wp-core-ui .wp-editor-container{
    clear:right;
}
.estate_option_row  .wp-core-ui  .wp-editor-tools:after {
    clear: none;
}
 
/* email tinymce integration fix END */


/* agent custom fileds code */
.add_custom_data_cont .cliche_row{
	display:none;
}
/* agent custom fileds code END */


.wpresidence_news{
    background: #1CA8DD;
    border-left-color: #1CA8DD;
    color: #fff;
}

.wpresidence_news p{
    font-size: 15px;
    line-height: 1.4em;
    font-weight: 500;
}

/*welcome panel admin*/

.welcome-panel {
    padding: 0;
    position: relative;
    overflow: hidden;
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    font-size: 13px;
    line-height: 2.1em;
    width: 100%;
    height: auto;
    min-height: 300px;
}

.dashboard_widget_logo {
    top: 25px;
    position: absolute;
    left: 25px;
    opacity: .85;
    width: 192px;
}

.wpestate_admin_menu a, 
.wpestate_admin_submenu {
    text-transform: uppercase;
    float: left;
    font-weight: 600;
    display: block;
    right: 0;
    padding: 0 5px;
    color: #ece9e9;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    letter-spacing: -.1px;
}

.welcome-panel li {
    font-size: 13px;
    float: left;
    padding: 0 7px;
}

.wpestate_admin_menu .menu_admin {
    display: inline;
    height: 100%;
}

.wpestate_admin_menu {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
}

.wpestate_admin_menu ul li ul {
    visibility: hidden;
    opacity: 0;
    width: 0;
}

.welcome-panel .welcome-panel-close {
    display: none;
}

.wpestate_dropdown_admin a {
    font-size: 11px;
    letter-spacing: initial;
}

.wpestate_admin_menu .dashicons {
    line-height: 1.4em;
    margin-left: 5px;
}

.wpestate_admin_menu ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 5px;
    border: 1px solid #fff;
    padding: 3px;
    top: 35px;
    width: 125px;
    background: #586173;
}

.wpestate_admin_version {
    position: absolute;
    top: 240px;
    right: 20px;
}

.theme_details_welcome {
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-right: 7px;
    line-height: 42px;
}

.wpestate_admin_version .dashicons.dashicons-lock,
.wpestate_admin_version .dashicons.dashicons-unlock {
    float: left;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.wpestate_admin_theme_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(css-images/wpadmin_back.jpg);
    background-size: auto;
    background-position: 0% 30%;
    height: 300px;
}

.wpestate_admin_theme_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5566;
    opacity: 0.5;
    height: 300px;
}

.wpestate_admin_theme_opt {
    line-height: 40px;
    top: 50%;
    top: 139px;
    position: absolute;
    width: auto;
    margin-top: -22px;
    right: 15%;
    font-size: 14px;
}

.wpestate_admin_version {
    position: absolute;
    top: 240px;
    right: 20px;
}

.wpestate_admin_button {
    padding: 0 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    line-height: 40px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

#start_wprentals_setup {
    float: left;
    margin-right: 10px;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.wpestate_admin_menu a:hover, 
.wpestate_theme_opt a, 
.wpestate_theme_opt a:hover, 
.wpestate_admin_submenu:hover {
    color: #fff;
}

#start_wprentals_setup:hover {
    background-color: #1CA8DD;
    border-color: #1CA8DD;
    color: #fff;
}

.wpestate_theme_opt:hover {
    border-color: #1CA8DD;
}

.dasboard_widget_color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #efefef;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dashboard_widget_exp {
    font-weight: 600;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

#wpestate_dashboard_links form {
    margin-top: 10px;
}

.add_form_wrapper {
    margin-bottom: 10px;
}

.new_page_title {
    font-weight: 600;
    width: 130px;
    display: inline-block;
}

#new_page_title, 
#widget_new_page_template {
    height: 35px;
    width: 250px;
}

.see_pages_dash {
    margin-bottom: 31px;
}

.wpestate_admin_button {
    padding: 0 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    line-height: 40px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.reverse_but {
    background-color: #4d5567;
    font-weight: 600;
    color: #fff;
}

.more_colors {
    display: inline-block;
}

.dashboard-widget-list {
    margin-top: 0;
    margin-bottom: 0;
}

/*quick setup css*/

#wpestate_start_wrapper {
    width: auto;
    margin-top: 245px;
    padding: 20px;
    display: none;
}

#wpestate_start_wrapper h1 {
    font-weight: 600;
}

.wpestate_admin_start_notice_wpapper .wpestate_admin_button {
    border-color: #1CA8DD;
    margin: 0px 20px;
}

.wpestate_admin_start_notice_wpapper .wpestate_admin_button a{
     color: #444; 
}

.wpestate_admin_start_notice_wpapper .wpestate_admin_button:hover {
    color: #fff;
    background: #1CA8DD;
}
.wpestate_admin_start_notice_wpapper .wpestate_admin_button:hover a{
    color: #fff;
}


.wpestate_admin_button.wpestate_start_wrapper_close {
    line-height: 20px;
    padding: 10px;
    float: right;
}


#wpestate_start_wrapper .estate_start_setup {
    margin: 20px 0px;
}

.wpestate_admin_start_general_settings input[type=text]{
    width: 150px;
}

.wpestate_admin_start_general_settings select{
    width: 100px;
}

.wpestate_admin_start_booking_settings select{
    width: 190px;
}

#wpestate_start_wrapper .reverse_but {
    width: 110px;
    padding: 0px;
}

#wpestate_start_map,
#wpestate_general_settings,
#wpestate_apperance_settings_quick,
#wpestate_end{
    display:none;
}

.wpestate_admin_start_notice {
    text-align: center;
}

.wpestate_admin_end_notice {
    text-align: center;
}

#wpestate_start_wrapper input[type=text] {
    padding: 10px;
    line-height: 35px;
    width: 250px;
    height: 35px;
}


#wpestate_start_wrapper select {
    padding: 2px 5px;
    line-height: 35px;
    height: 35px;
    width: 250px!important;
}

.dashboard_widget_logo.admin_widget_logo{
    height: 70px; 
    width: auto;
}

.wpestate_admin_button.reverse_but.logo_wid_upload {
    position: relative!important;
    bottom: auto;
    top: auto;
    display: inline-block;
    left: auto;
    margin-right: 10px;
}

#dashboard-widgets .wpestate_admin_button {

}


.wpestate_error{
    background: red;
    padding: 10px;
    color:#fff;
}


#wpestate_wrapper_admin_menu #setting-error-tgmpa,
.toplevel_page_libs-theme-admin #setting-error-tgmpa{
    display:none
}



@media only screen and (max-width: 500px){  
    .property_options_wrapper_list,
    .property_tab_item,
    .property_prop_half,
    .third-meta-options{
        width: 100%;
    }
    .property_options_content_wrapper {
        padding-left: 0px;
    }
    .property_options_content_wrapper input[type=text], 
    .property_options_content_wrapper textarea, 
    .property_options_content_wrapper select {
        width: 100%;
        max-width: 100%;
    }
    .property_tab_item_content.active_tab {
        float: left;
    }
    
    .property_prop_half.propcheck {
        width: 50%;
    }
}