/*
 Theme Name:   MadreTierra child theme
 Theme URI:    https://themeforest.net/item/wp-residence-real-estate-wordpress-theme/7896392
 Description:   WpResidence child theme
 Author:       WpEstate
 Author URI:   http://wpestate.org
 Template:     wpresidence
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/
.enlaces-d {display: inline-block;margin-left: 18px;vertical-align: middle;}
.enlaces-d a {color: #fff!important;padding: 7px 10px !important;text-align: center;font-size: 12px !important;border: 1px solid #9ac11d;border-radius: 6px;background: linear-gradient(0deg, rgb(154 193 29) 0%, rgb(128 171 21) 100%);font-weight: 500 !important;text-transform: uppercase;display: inline-block !important;cursor: pointer !important;transition: all .5s !important;line-height: 14px;}
.enlaces-d a:last-child {background: linear-gradient(0deg, rgb(235 90 6) 0%, rgb(202 85 18) 100%);border-color: #e9661b;margin-left: 5px;}
.header_type1.header_center #access {max-width: 920px !important;padding-right: 0 !important;}
.menu-main-menu-container {vertical-align: middle;display: inline-block;}
.enlaces-d a:hover {background: #000000b3;border-color: #000;}

/**** Cuadro de Newsletter ****/
input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=number], 
textarea{
    box-sizing: border-box;
    border: none;
    background: #f5f5f5;
    border-radius: 4px;
    float: none;
    margin: 0 0 1rem 0;
}


/* INICIO::Servicios Madre Tierra */
.servicios-mt {border-radius:3px !important;background:#66ac26 !important;}
.servicios-mt h2 {margin-bottom:2rem !important;text-shadow: 1px 1px 1px rgba(0 0 0);}
/* FIN::Servicios Madre Tierra */

/* INICIO::Encabezado */
.top_bar .widget-container ul > li:first-child {margin-right: 1rem;}
.top_bar .widget-container ul li {margin-top: 0;}
.customnav .menu_user_picture {border-color: #ffffff;}
.menu_user_picture {border: 2px solid #ffffff!important;}
.customnav .navicon:before, .customnav .navicon:after, .customnav .navicon {background: #20292c!important;}
/* FIN::Encabezado */

/* INICIO::Pie de Página */
.home #colophon {background-image: url(https://www.madretierra.pe/wp-content/uploads/2020/10/Fondo.jpg);background-size:cover;padding-top:60rem;margin-top:-80rem;}
.home .wide {background: none !important;}
.home .content_wrapper, .agency_contact_class {background: none !important;}
.home body {background: none !important;}
.sub_footer {background-color: #000000ab !important;}
.home #colophon, .home #colophon p, .home #colophon a {color: #fff;text-shadow: 1px 1px 2px #0000006b;}
.home #colophon h3 {text-transform: uppercase;}
/* FIN::Pie de Página */

/* INICIO::Contactanos */
@media (min-width: 992px){
	.page-template-contact_page .content_wrapper .row > .col-md-12 {display: flex; margin-top: 2rem;}
	.page-template-contact_page #listing_ajax_container {display: none;}
	.page-template-contact_page .col-md-4.contact_page_company_picture {display: none;}
	.page-template-contact_page .contact-wrapper.row {box-shadow: none;}
	.page-template-contact_page .single-content.contact-content div {box-shadow: none;}
	.page-template-contact_page .single-content.contact-content {margin:0;}
}

/* FIN::Contactanos */

.header_transparent .header_wrapper {background:linear-gradient(0deg, rgba(0,0,0,0) 0%, rgb(105 102 102) 100%);}
.header_transparent .header_wrapper.navbar-fixed-top.customnav {background:#fff;}
.home #results,#primary_sidebar_wrapper .adv_search_slider,.woocommerce-checkout .search_wr_8,.single-content #property_similar_listings,.company_headline .header_social {display:none !important;}
#advanced_search_widget-3 {list-style:none;}
.page-template-front_property_submit .single_step {overflow:initial;}
.navicon{width:auto;}
.home .main_wrapper {width:100% !important;padding:0 !important;}
.social_sidebar_internal .social-rss:before {content:"\f232";}
.whatsapp-box {font-size:25px;background-color:#333;padding:10px 12px;position:fixed;bottom:10px;right:15px;z-index:100;opacity:0.9;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;margin-right:51px;z-index:102;color:#fff;}
.has_top_bar .master_header_sticky {top:0 !important;}
.ml15 {margin-left:15px;}
.agente-whatsapp i {color:#3eb708;font-size:20px;}
.property_listing_details .share_unit {right:18px;top:-150px;}
.property_card_default .property_listing_details {margin-bottom:30px;}
.single-estate_property .search_wrapper {display:none;}
#search_wrapper_color {background-color:transparent !important;}
#search_wrapper.with_search_form_float.with_search_on_end {position:initial !important;top:0 !important;margin:0 auto 50px !important;float:none !important;padding-top:70px !important;box-shadow:none !important;}
.search_wr_8.with_search_form_float .adv_search_tab_item a {padding:12px 19px !important;}
.tab-pane.active form {display:flex;flex-wrap:wrap;justify-content:center;}
.adv-search-1 .form-control {border-radius:3px;}
#pre-venta {box-shadow:none;}
.adv-search-custom {background:#fff;margin-top:20px;position:relative;}
.adv-search-custom .nav {width:10%;display:inline-block;vertical-align:top;}
.adv-search-custom .tab-content {width:90%;display:inline-block;vertical-align:top;padding:30px;float:none;}
.adv-search-custom .adv_search_tab_item {background:#474747;width:100%;}
.adv-search-custom .adv_search_tab_item a {color:#fff;width:100%;}
.adv-search-custom .adv_search_tab_item.active {background:#037623 !important;}
.adv-search-custom .tab-content>.tab-pane {padding:15px 30px 0;}
.adv-search-custom.adv-search-1 .form-control {margin-bottom:15px;}
.adv-search-custom .icono-meta {padding:12px 0 0 15px !important;color:#8593a9;}
.adv-search-custom.adv-search-1 .form-control {background:#f9f9f9 !important;border:1px solid #eee !important;}
.adv-search-custom.adv-search-1 .col-md-7 {padding-top:20px;}
.adv-search-custom.adv-search-1 .custom-col-1 {padding:10px 40px;}
.adv-search-custom.adv-search-1 .custom-col-2 {padding:35px 20px;}
.adv-search-custom.adv-search-1 .custom-col-3 {padding-left:70px;}
.adv-search-custom #advanced_submit_22 {height:224px;margin-top:-30px;background:#037623 !important;font-size:18px;padding:40px;text-align:left;line-height:24px;margin-bottom:0;}
.icono-buscar-propiedad,.icono-publicar-propiedad {padding:0;background-color:transparent !important;background-image:none !important;border:0;}
.icono-buscar-propiedad img,.icono-publicar-propiedad img {width:30px;}
.icono-buscar-propiedad span,.icono-publicar-propiedad span {display:none;background:#3eb708;font-size:12px;position:absolute;margin:1px 0 0 -22px;width:75px;text-align:center;padding:2px;border-radius:3px;}
.icono-buscar-propiedad:hover span,.icono-publicar-propiedad:hover span {display:block;color:#fff !important;}
.adv8-holder form:after {content:' ';clear:both;display:block;}
.with_search_form_float .adv8-holder .tab-content {padding:15px 7px 0px 7px;background:#696666;border-radius:3px;}
.search_wr_8.with_search_form_float .nav-tabs {background:#fdfdfd;padding-bottom:10px;}
.adv-search-1 input[type=text] {border:0;}
.enlaces-directos {position:fixed;right:0;top:50%;z-index:99;margin:-120px 0 0 0;}
.enlaces-directos img {width:60px;}
.enlaces-directos a {margin-bottom:10px;}
.enlaces-directos a,.enlaces-directos span {display:block;text-align:right;}
.enlaces-directos span {font-size:10px;background:rgb(255 255 255 / 57%);width:fit-content;padding:5px;border-radius:10px;font-weight:bold;margin:5px auto;color:#333;}
.page-template-property_list .single-content {height:50px;opacity:0;}
.comment-form #submit,#agent_submit {text-transform:initial !important;}
#contactModal p {line-height:24px;}
#contactModal .modal-dialog {width:500px;}
#login-div_topbar strong {margin:0 0 15px;display:block;text-align:center;line-height:20px;font-weight: 400;font-size: 14px;}
#modal_login_wrapper .login_form input[type=text], #modal_login_wrapper .login_form input[type=password], #modal_login_wrapper .login_form input[type=email], #modal_login_wrapper .login_form input[type=number], #modal_login_wrapper .login_form select {box-sizing: border-box;border: none;background: #f5f5f5;border-radius: 4px;margin-bottom: 8px;}
#modal_login_wrapper #login-div_topbar, .modal_login_container #register-div-topbar, .modal_login_container #forgot-pass-div {padding: 20px 20px;}
.login_modal_control {padding: 0 20px 20px;}
.login_modal_control a {font-weight: 400 !important;text-transform: initial;}
.property_details_modal_container, .modal_login_container {width: 360px;border-radius: 6px;}
#forgot-div-title-topbar, #register-div-title-topbar, #login-div-title-topbar {border-radius: 6px 6px 0 0;text-transform: uppercase;font-size: 15px;padding: 20px 20px 15px;color: #4d4e4b;}
#modal_login_wrapper .login_form button {width: auto;margin: 0 auto;text-align: center;display: block;border-radius: 6px;text-transform: uppercase;line-height: initial;padding: 10px 20px;font-size: 14px;letter-spacing: .8px;}
.page-template-front_property_submit .titulo {text-align:center;margin:30px 0 0;}
.page-template-user_dashboard_add .submit_mandatory,.page-template-front_property_submit .submit_mandatory {border:1px solid #3eb708;background:#3eb708;padding:5px;color:#fff;margin-left:60px;}
.page-template-front_property_submit .submit_mandatory {margin-left:0;}
#primary_sidebar_wrapper .property_listing h4,#primary_sidebar_wrapper .property_listing .listing_unit_price_wrapper,#primary_sidebar_wrapper .property_listing .listing_details,#primary_sidebar_wrapper .listing_details.the_list_view,#primary_sidebar_wrapper .property_listing_details {padding-left:15px !important;}
#primary_sidebar_wrapper .listing-unit-img-wrapper,#primary_sidebar_wrapper .property_listing_details {margin-bottom:15px;}
.full_width_header .topbar_show_mobile_yes .top_bar {max-width:1210px;padding-left:0 !important;padding:0 !important;}
.header_wrapper_inside.full_width_header {max-width: 1210px;padding: 0;}
.content_wrapper {width:1240px;}
.row {margin-left:-15px;margin-right:-15px;}
.full_width_header .user_menu {margin-right:0 !important;}
.top_bar_wrapper {padding-top:10px;height:42px;}
.top_bar .widget-container ul {min-width:0 !important;display: flex;}
.titulo-buscador {height:160px;text-align:center;font-size:16px;color:#333;line-height:24px;}
.col-md-3.user_menu_wrapper {background:#3eb708;}
.user_dashboard_links a,.dashboard_username {color:#fff;}
.user_dashboard_links .user_tab_active, .user_dashboard_links a:hover {background:#037623;}
#aaiu-uploader {text-transform:initial;}
.es_subscription_form input[type=text],.es_subscription_form input[type=email] {border:0;}
.es_subscription_form label,.es_subscription_form .ig_es_form_field_name,.es_subscription_form .es_required_field {width:100%;}
.es_subscription_form_submit {border:0;color:#888;padding:10px 20px;font-weight:bold;background:#313131;}
